.container-section{
 display: flex;
}

.container-section .button-dir {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.card-container {
    width: 300px; 
    height: 106px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color:rgb(218, 32, 38);    
    color: aliceblue;
    margin-bottom: 2px;
    
}

.done-bg {
    background-color: green;    
}

.button-container{
    display: flex;
    flex-direction: column;
}

.p-Layout {
    font-size: large;
    text-align: left;
}

.btn{
    
    margin-right: 5px;
    margin-top: 5px;
    width: 95px;
    height: 29px;
    border-radius: 5px;
    
}

.dir-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 32, 38);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: aliceblue;
    border: 0;
}

